@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

// 전체 레이아웃

body {
    background: #f3f3f3;

    .tab_menu {
        width: 100%;
        height: 100vh;
        position: relative;

        section {
            width: 1500px;
            height: 700px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 10px;


            ul {
                display: flex;
                border-bottom: 1px solid #ddd;
                justify-content: left;

                li {
                    border-top: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    border-bottom: none;
                    width: calc(100% / 3);

                    &:nth-of-type(1) {
                        a {
                            &.on {
                                background: #f4b13e;
                                color: #fff;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        a {
                            &.on {
                                background: #8174ba;
                                color: #fff;
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        a {
                            &.on {
                                background: #3f6d84;
                                color: #fff;
                            }
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;
                        color: #000;
                        padding: 20px;


                        &.on {
                            .img_box {
                                &.n1 {
                                    background: url(../img/icon1-hover.png);
                                    background-size: 40px;
                                }

                                &.n2 {
                                    background: url(../img/icon2-hover.png);
                                    background-size: 40px;
                                }

                                &.n3 {
                                    background: url(../img/icon3-hover.png);
                                    background-size: 40px;
                                }

                            }
                        }

                        .img_box {
                            width: 40px;
                            height: 40px;
                            transition: all 0.3s;
                            margin-right: 30px;

                            &.n1 {
                                background: url(../img/icon1.png);
                                background-size: 40px;
                            }

                            &.n2 {
                                background: url(../img/icon2.png);
                                background-size: 40px;
                            }

                            &.n3 {
                                background: url(../img/icon3.png);
                                background-size: 40px;
                            }
                        }

                    }

                    &:hover .img_box.n1 {
                        background: url(../img/icon1-hover.png);
                        background-size: 40px;
                    }

                    &:hover .img_box.n2 {
                        background: url(../img/icon2-hover.png);
                        background-size: 40px;
                    }

                    &:hover .img_box.n3 {
                        background: url(../img/icon3-hover.png);
                        background-size: 40px;
                    }

                    &:last-child {
                        border-right: 1px solid #ddd;
                    }

                }
            }

            .group {

                #tab1 {
                    display: block;

                    .button_box {
                        .button {
                            background: #f4b13e;
                            color: #fff;

                            &:hover {
                                background: #fff;
                                color: #f4b13e;
                                border: 1px solid #f4b13e;
                            }
                        }
                    }
                }

                #tab2 {

                    .button_box {
                        .button {
                            background: #8174ba;
                            color: #fff;

                            &:hover {
                                background: #fff;
                                color: #8174ba;
                                border: 1px solid #8174ba;
                            }
                        }
                    }
                }

                #tab3 {

                    .button_box {
                        .button {
                            background: #3f6d84;
                            color: #fff;

                            &:hover {
                                background: #fff;
                                color: #3f6d84;
                                border: 1px solid #3f6d84;
                            }
                        }
                    }
                }

                .tab {
                    padding: 80px 50px 100px;
                    display: none;

                    .img_box {
                        display: inline-block;
                        width: calc(40%);
                        float: left;
                        text-align: center;

                        img {
                            width: 400px;
                        }
                    }

                    .txt_box {
                        display: inline-block;
                        width: calc(50% - 10px);
                        float: left;
                        margin-bottom: 80px;

                        h1 {
                            font-size: 40px;
                            letter-spacing: 1.7px;
                            margin-bottom: 60px;
                            text-transform: uppercase;
                            font-weight: 900;
                            font-family: roboto;
                        }

                        p {
                            color: #999;
                            line-height: 1.6;
                            font-weight: 200;
                        }

                    }

                    .button_box {
                        .button {
                            display: inline-block;
                            width: 200px;
                            height: 50px;
                            line-height: 50px;
                            background: orange;
                            color: #fff;
                            text-align: center;
                            border-radius: 30px;
                            border: 1px solid transparent;
                            transition: all 0.3s;
                            letter-spacing: 1.3;
                            font-weight: bold;

                            &:hover {
                                background: #fff;
                                color: orange;
                                border: 1px solid orange;
                            }

                            &.n1 {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}